.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-left: 152px;   
    
    
}

header {
    display: flex;
    gap: 5px;
    
    
    
}

.menu__title{
      
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}
.menu__list {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 42px;
    
}

.menu__list__item__contato {
    display: none;
}

.title__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 208px;
}

.title__container{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    
}
.title__profile {

    align-items: center ;
    
}

.title__network {   
        
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;  
}

.title__bio {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;

    /* Preto/100% */

    color: #464646;
}

.title__subsection {
   
    line-height: 26px;

    /* Preto/100% */

    color: #464646;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    
    
    /* Azul/10% */

    background: #0864e6;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    
    
}

.about__title {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;
}

.about__paragraph{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Preto/100% */

    color: #464646;
}

.container-skills-hobbies-formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 88px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    

}

.skills__title {
    

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    ;
}

.skills__line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

   
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

   
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
}

.hobbies__title {
    width: 127px;
    height: 38px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Preto/100% */

    color: #464646;
}
.hobbies__line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1136px;
    height: 174px;

    background-color:rgb(161, 140, 97);
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

    width: 176px;
    height: 174px;

    /* Preto/branco */

    background: #FFFFFF;
}

.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    gap: 32px;

  

}

.academic__title {
   
    /* identical to box height */

    text-align: center;

    
}
.academic__courses {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    
}

.academic__courses__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    
}
.academic__courses__item__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    
}
.academic__courses__item__title {
   

  
}

.academic__courses__item__subtitle {
 
}

.experience.css {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
}
..experience__section__title {
    text-align: center; 
}

.experiencie__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.experience__img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.experience__info {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 348px;
height: 112px;
}


